{{!-- demo/app/templates/application.hbs --}}
<div class="app-layout">
  <Navbar />
  <main class="app-body body-expanded">
    {{outlet}}
  </main>
</div>

{{!-- <ProductCard
@product={{hash title="Sample Product" description="This is a sample product description."}}
/> --}}